.club_sub{
    width: 50%;
    margin-left: 20%;
}

.booster_container{
    position: relative;
    left: 50%;
    top: -40vh;
  
}

h1{
    color: white;
}
.Booster_list{
    display: flex;
    flex-direction: column;
    color: white;
}

..Booster_list li{
    display: flex;
}